@import 'bootstrap/dist/css/bootstrap.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
    height:100%;
}

body {
    height:100%;
    width:100%;
    background:#e7eef1;
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: "Exo 2", "Open Sans";
}

.button {
    background-color: #165C7D;
    border-color: #165C7D;
    color: #fff;
    font-size: 15px;

    --bs-btn-hover-bg: #10455e;
    --bs-btn-hover-border-color: #10455e;
    --bs-btn-hover-color: #fff;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a2d3d;
    --bs-btn-active-border-color: #0a2d3d;

    width: 200px;
    margin-top: -4px;
}

.round-button {
    border-color: #165C7D;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    color: #165C7D;
    padding: 6px 20px;
    text-decoration: none;
}

.picture {
    border-color: #165C7D;
}

.menu-icon {
    color: #fff;
    font-size: 25px;
}

.top-icon {
    color: #165C7D;
    font-size: 25px;
}

.subtitle {
    font-family: "Open Sans";
    font-size: 15px;
}

.card-label {
    font-family: "Open Sans";
    font-size: 12px;
}

.link {
    color: #165C7D;   
    text-decoration: none;
}

